{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - OfficatorXL{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h2">
            <i class="fas fa-user-tie me-2"></i>{{ title }}
        </h1>
        <a href="{% url 'official_list' %}" class="btn btn-outline-secondary">
            <i class="fas fa-chevron-left me-1"></i>Back to Officials
        </a>
    </div>

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Official Information</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.name|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.phone|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.certification|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.proficiency|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.team|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.active|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-info text-white">
                                <i class="fas fa-save me-2"></i>Save Official
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
